*{
    margin: 0; padding: 0; box-sizing: border-box;
    
}

body{
    background-color: rgb(240, 246, 248);
    padding-bottom: 1000000px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;